<!doctype html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Edit doctor</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">


</head>
<body>

<h1>Edit Doctor Profile</h1>
<div class="container">
    <div class="row">
        <div class="col-md-8 mx auto rounded border p-4 m-4">
            <h2 class="text-center mb-5">Edit doctor</h2>

            <form method="POST" enctype="multipart/form-data" th:object="${doctorDtoAdmin}"
                  th:action="@{/admin/edit/{login}(login=${doctorDtoAdmin.login})}">


                <div class="row mb-3">
                    <label class="col-sm-4  col-form-label">Id</label>
                    <div class="col-sm-8">
                        <input readonly class="form-control-plaintext" th:field="${doctorDtoAdmin.id}">
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-4  col-form-label">Login</label>
                    <div class="col-sm-8">
                        <input readonly class="form-control" th:field="${doctorDtoAdmin.login}">
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-4  col-form-label">First Name</label>
                    <div class="col-sm-8">
                        <input class="form-control" th:field="${doctorDtoAdmin.firstname}">
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-4  col-form-label">Last name</label>
                    <div class="col-sm-8">
                        <input class="form-control" th:field="${doctorDtoAdmin.lastname}">
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-4  col-form-label">Surname</label>
                    <div class="col-sm-8">
                        <input class="form-control" th:field="${doctorDtoAdmin.surname}">
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-4  col-form-label">Phone</label>
                    <div class="col-sm-8">
                        <input class="form-control" th:field="${doctorDtoAdmin.phone}">
                    </div>
                </div>


                <div class="row mb-3">
                    <label class="col-sm-4  col-form-label">Password</label>
                    <div class="col-sm-8">
                        <input class="form-control" th:field="${doctorDtoAdmin.password}">
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="offset-sm-4 col-sm-8">
                        <img th:src="@{${doctorDtoAdmin.photoUrl}}" alt="..." width="150">
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-4  col-form-label">Image</label>
                    <div class="col-sm-8">
                        <input class="form-control" type="file" th:field="${doctorDtoAdmin.photoFile}">
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-4  col-form-label">Outline</label>
                    <div class="col-sm-8">
                        <input class="form-control" th:field="${doctorDtoAdmin.outline}">
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-4  col-form-label">Motto</label>
                    <div class="col-sm-8">
                        <input class="form-control" th:field="${doctorDtoAdmin.motto}">
                    </div>
                </div>


                <div class="row mb-3">
                    <label class="col-sm-4  col-form-label">Speciality</label>
                    <div class="col-sm-8">
                        <input class="form-control" th:field="${doctorDtoAdmin.specialty}">
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-4  col-form-label">Language</label>
                    <div class="col-sm-8">
                        <input class="form-control" th:field="${doctorDtoAdmin.language}">
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-4  col-form-label">Achievement</label>
                    <div class="col-sm-8">
                        <input class="form-control" th:field="${doctorDtoAdmin.achievement}">
                    </div>
                </div>


                <!--              ---------------------EXPERIENCE----------------  -->
                <div id="experience-section">
                    <h3>Experience</h3>
                    <div th:each="exp, stat : ${doctorDtoAdmin.experience}" th:id="|'experience-' + ${stat.index}|">
                        <div>
                            <label>Workplace:</label>
                            <input type="text" th:field="*{experience[__${stat.index}__].workplace}"
                                   placeholder="Workplace"/>
                        </div>
                            <br>
                        <div>
                            <label>Begin Date:</label>
                            <input type="text" th:field="*{experience[__${stat.index}__].beginDate}"
                                   placeholder="Begin Date"/>
                        </div>
                            <br>
                        <div>
                            <label>End Date:</label>
                            <input type="text" th:field="*{experience[__${stat.index}__].endDate}"
                                   placeholder="End Date"/>
                        </div>
                            <br>
                        <div>
                            <label>Position:</label>
                            <input type="text" th:field="*{experience[__${stat.index}__].position}"
                                   placeholder="Position"/>
                        </div>
                            <br>
                        <button class="btn btn-danger btn-sm"
                                type="button" onclick="deleteExperience(this)">Delete Experience</button>
                        <br>
                    </div>
                </div>
                <br>
                <button class="btn btn-primary btn-sm"
                        type="button" onclick="addExperience()">Add Experience</button>


                <!--              ---------------------Education----------------  -->
                <div id="education-section">
                    <br>
                    <h3>Education</h3>
                    <div th:each="education, stat : ${doctorDtoAdmin.education}" th:id="|'education-' + ${stat.index}|">
                        <div>
                            <label>Where:</label>
                            <input type="text" th:field="*{education[__${stat.index}__].name}" placeholder="Name"/>
                        </div>
                            <br>
                        <div>
                            <label>Start Year:</label>
                            <input type="text" th:field="*{education[__${stat.index}__].startYear}"
                                   placeholder="Start Year"/>
                        </div>
                            <br>
                        <div>
                            <label>End Year:</label>
                            <input type="text" th:field="*{education[__${stat.index}__].endYear}"
                                   placeholder="End Year"/>
                        </div>
                            <br>
                        <div>
                            <label>Faculty:</label>
                            <input type="text" th:field="*{education[__${stat.index}__].faculty}"
                                   placeholder="Faculty"/>
                        </div>
                            <br>
                        <button class="btn btn-danger btn-sm"
                                type="button" onclick="deleteEducation(this)">Delete Education</button>
                        <br>
                    </div>
                </div>
                <br>
                <button class="btn btn-primary btn-sm"
                        type="button" onclick="addEducation()">Add Education</button>


                <!--              ---------------------ReceptionAddress----------------  -->
                <div id="reception-address-section">
                    <br>
                    <h3>Reception Address</h3>
                    <div th:each="address, stat : ${doctorDtoAdmin.receptionAddress}"
                         th:id="|'reception-address-' + ${stat.index}|">
                        <div>
                            <label>Address Name:</label>
                            <input type="text" th:field="*{receptionAddress[__${stat.index}__].addressName}"
                                   placeholder="Address Name"/>
                        </div>
                            <br>
                        <div>
                            <label>URL:</label>
                            <input type="text" th:field="*{receptionAddress[__${stat.index}__].httpUrl}"
                                   placeholder="URL"/>
                        </div>
                            <br>
                        <button class="btn btn-danger btn-sm"
                                type="button" onclick="deleteReceptionAddress(this)">Delete Reception Address</button>
                        <br>
                    </div>
                </div>
                <br>
                <button class="btn btn-primary btn-sm"
                        type="button" onclick="addReceptionAddress()">Add Reception Address</button>


                <!--              ---------------------Service----------------  -->
                <div id="service-section">
                    <br>
                    <h3>Services</h3>
                    <div th:each="service, stat : ${doctorDtoAdmin.service}" th:id="|'service-' + ${stat.index}|">
                        <div>
                            <label>Service Name:</label>
                            <input type="text" th:field="*{service[__${stat.index}__].name}"
                                   placeholder="Service Name"/>
                        </div>
                            <br>
                        <div>
                            <label>Price:</label>
                            <input type="number" th:field="*{service[__${stat.index}__].price}"
                                   placeholder="Price(justNumbers)"/>
                        </div>
                            <br>
                        <button class="btn btn-danger btn-sm"
                                type="button" onclick="deleteService(this)">Delete Service</button>
                    </div>
                </div>
                <br>
                <button class="btn btn-primary btn-sm"
                        type="button" onclick="addService()">Add Service</button>


                <!--              ---------------------Contact----------------  -->
                <div id="contact-section">
                    <br>
                    <h3>Contacts</h3>
                    <div th:each="contact, stat : ${doctorDtoAdmin.contact}" th:id="|'contact-' + ${stat.index}|">
                        <div>
                            <label>Contact Type:</label>
                            <input type="text" th:field="*{contact[__${stat.index}__].contactType}"
                                   placeholder="Contact Type"/>
                        </div>
                            <br>
                        <div>
                            <label>Value:</label>
                            <input type="text" th:field="*{contact[__${stat.index}__].value}" placeholder="Value"/>
                        </div>
                            <br>
                        <button class="btn btn-danger btn-sm"
                                type="button" onclick="deleteContact(this)">Delete Contact</button>
                        <br>
                    </div>
                </div>
                <br>
                <button class="btn btn-primary btn-sm"
                        type="button" onclick="addContact()">Add Contact</button>


                <!--              ---------------------SUBMIT----------------  -->
                <div class="row">
                    <div class="offset-sm-4 col-sm-4  d-grid">
                        <button class="btn btn-primary" type="submit">Submit Profile</button>
                    </div>
                    <div class="col-sm-4 d-grid">
                        <a class="btn btn-outline-primary" href="/admin/dashboard" role="button">Cancel</a>
                    </div>
                </div>

            </form>

            <script>
                //     -------------------------------------


                function addExperience() {
                    const experienceSection = document.getElementById('experience-section');
                    const index = experienceSection.children.length;
                    const newExperience = `
            <div id="experience-${index}">
            <br>
                <div>
                    <label>Workplace:</label>
                    <input type="text" name="experience[${index}].workplace" placeholder="Workplace"/>
                </div>
                <br>
                <div>
                    <label>Begin Date:</label>
                    <input type="text" name="experience[${index}].beginDate" placeholder="Begin Date"/>
                </div>
                <br>
                <div>
                    <label>End Date:</label>
                    <input type="text" name="experience[${index}].endDate" placeholder="End Date"/>
                </div>
                <br>
                <div>
                    <label>Position:</label>
                    <input type="text" name="experience[${index}].position" placeholder="Position"/>
                </div>
                <br>
                <button class="btn btn-danger btn-sm" type="button" onclick="deleteExperience(this)">Delete Experience</button>
            </div>
        `;
                    experienceSection.insertAdjacentHTML('beforeend', newExperience);
                }

                function deleteExperience(button) {
                    const experienceDiv = button.parentElement;
                    experienceDiv.remove();
                }

                //     -------------------------------------
                function addEducation() {
                    const educationSection = document.getElementById('education-section');
                    const index = educationSection.children.length;
                    const newEducation = `
                <div id="education-${index}">
                <br>
                    <div>
                        <label>Name:</label>
                        <input type="text" name="education[${index}].name" placeholder="Name"/>
                    </div>
                    <br>
                    <div>
                        <label>Start Year:</label>
                        <input type="text" name="education[${index}].startYear" placeholder="Start Year"/>
                    </div>
                    <br>
                    <div>
                        <label>End Year:</label>
                        <input type="text" name="education[${index}].endYear" placeholder="End Year"/>
                    </div>
                    <br>
                    <div>
                        <label>Faculty:</label>
                        <input type="text" name="education[${index}].faculty" placeholder="Faculty"/>
                    </div>
                    <br>
                    <button class="btn btn-danger btn-sm" type="button" onclick="deleteEducation(this)">Delete Education</button>
                </div>
            `;
                    educationSection.insertAdjacentHTML('beforeend', newEducation);
                }

                function deleteEducation(button) {
                    const educationDiv = button.parentElement;
                    educationDiv.remove();
                }

                //     ------------------------------------------

                function addReceptionAddress() {
                    const receptionAddressSection = document.getElementById('reception-address-section');
                    const index = receptionAddressSection.children.length;
                    const newReceptionAddress = `
                <div id="reception-address-${index}">
                <br>
                    <div>
                        <label>Address Name:</label>
                        <input type="text" name="receptionAddress[${index}].addressName" placeholder="Address Name"/>
                    </div>
                    <br>
                    <div>
                        <label>URL:</label>
                        <input type="text" name="receptionAddress[${index}].httpUrl" placeholder="URL"/>
                    </div>
                    <br>
                    <button class="btn btn-danger btn-sm" type="button" onclick="deleteReceptionAddress(this)">Delete Reception Address</button>
                </div>
            `;
                    receptionAddressSection.insertAdjacentHTML('beforeend', newReceptionAddress);
                }

                function deleteReceptionAddress(button) {
                    const receptionAddressDiv = button.parentElement;
                    receptionAddressDiv.remove();
                }

                //     ----------------------------------------------------
                function addService() {
                    const serviceSection = document.getElementById('service-section');
                    const index = serviceSection.children.length;
                    const newService = `
                <div id="service-${index}">
                <br>
                    <div>
                        <label>Service Name:</label>
                        <input type="text" name="service[${index}].name" placeholder="Service Name"/>
                    </div>
                    <br>
                    <div>
                        <label>Price:</label>
                        <input type="number" name="service[${index}].price" placeholder="Price"/>
                    </div>
                    <br>
                    <button class="btn btn-danger btn-sm" type="button" onclick="deleteService(this)">Delete Service</button>
                </div>
            `;
                    serviceSection.insertAdjacentHTML('beforeend', newService);
                }

                function deleteService(button) {
                    const serviceDiv = button.parentElement;
                    serviceDiv.remove();
                }

                //     ----------------------------------------------------

                function addContact() {
                    const contactSection = document.getElementById('contact-section');
                    const index = contactSection.children.length;
                    const newContact = `
                <div id="contact-${index}">
                <br>
                    <div>
                        <label>Contact Type:</label>
                        <input type="text" name="contact[${index}].contactType" placeholder="Contact Type"/>
                    </div>
                    <br>
                    <div>
                        <label>Value:</label>
                        <input type="text" name="contact[${index}].value" placeholder="Value"/>
                    </div>
                    <br>
                    <button class="btn btn-danger btn-sm" type="button" onclick="deleteContact(this)">Delete Contact</button>
                </div>
            `;
                    contactSection.insertAdjacentHTML('beforeend', newContact);
                }

                function deleteContact(button) {
                    const contactDiv = button.parentElement;
                    contactDiv.remove();
                }

            </script>


        </div>

    </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>
</html>